<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.creation.test">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".span.SpanActivity" />

        <activity android:name=".touch.TouchActivity" />

        <activity android:name=".scheme.SchemeActivity" />
        <activity android:name=".scheme.TargetActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="test"/>
            </intent-filter>
        </activity>

        <activity android:name=".clip.ClipActivity" />
        <activity android:name=".animation.AnimationActivity" />

        <activity
            android:name=".measure.MeasureActivity"
            />
        <activity android:name=".dispatch.DispatchActivity" />
        <activity android:name=".view_pager.ViewPagerActivity" />
        <activity android:name=".memory.MemoryActivity" />
        <activity android:name=".dot9.Dot9Activity" />
        <activity android:name=".proc.ProcActivity" />

    </application>
</manifest>